<div class="content">
    <div class="icon_bor">
       
        <div class="logo">
            <img  [src]=" logo" alt="" srcset="">
        </div>
    </div>
     
    <div class="container  justify-content-center" >
        <div class="row">
            <div class="col" (click) = togleDisplay()>
                <div routerLink="inscription/talents" class="entre"  [ngClass]="{'entreprise' : isDisplay, 'reviens' : !isDisplay}"><b>Talents</b></div>
                <div class="icon_bor" >
                    <div class="logo">
                         <b>Inscription</b>
                    </div>
                </div>
                <div routerLink="inscription/entreprise" class="tals" [ngClass]="{'talents' : isDisplay, 'reviens' : !isDisplay}" ><b>Entreprise</b></div>
            </div>
            <div class="col-10">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <div class=" info text-center">
                            <p class="title animate__animated animate__fadeInDown">eeyaa</p>
                            <p class="titleDescription animate__animated animate__fadeInUp">entrez dans l'aire du participatif</p>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <div class=" info text-center">
                            <p class="title animate__animated animate__fadeInDown ">eeyaa</p>
                            <p class="titleDescription  animate__animated animate__flipInX">entrez dans l'aire du participatif</p>
                        </div>  
                      </div>
                      <div class="carousel-item">
                        <div class=" info text-center">
                            <p class="title  animate__animated animate__fadeInDown">eeyaa</p>
                            <p class="titleDescription  animate__animated animate__fadeInUp">entrez dans l'aire du participatif</p>
                        </div>
                      </div>
                    </div>
                    
                    
                  </div>
            </div>
            <div class="col">
                <div class="icon_bor" routerLink="connexion">
                    <div class="logo">
                         <b>connexion</b>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>