<div (click)="openXl(content5)">projet de panneau publicitaire</div>

<ng-template  #content5 let-modal>
  
    <div class="modal-body">
      <div class="modal2">
        <div class="div1">
          <div class="divItems">
            <div class="divItemsImg">
              <img [src]="valider" alt="" srcset="">
            </div>
           <b> Débrief 1</b>
          </div>
          <div class="divItems">
            <div class="divItemsImg">
                <img [src]="valider" alt="" srcset="">
            </div>
            <b>Débrief 2</b>
          </div>
          <div class="divItems">
            <div class="divItemsImg">
                <img [src]="valider" alt="" srcset="">
            </div>
          <b>Débrief 3</b>
          </div>
          <div class="divItems">
            <div class="divItemsImg">
                <img [src]="valider" alt="" srcset="">
            </div>
          <b>Résultat final</b>
          </div>
        </div>
        <div class="div2">
                <div class="resultatFinal">
                    <h2 class="mb-5">Résultat challenge</h2>
                    <p>pour le projet de panneau publicitaire , voici les cinq</p>
                    <p class="">vaiqueur:</p>
                    
                    <div class="classement">
                        <p class="vainqueur">1. Hamed soumahoro</p>
                        <p>2. Germain josias</p>
                        <p>3. Stéphane Gourou</p>
                        <p>4. paul Niango</p>
                        <p >5.Abigail kambou</p>
                    </div>
                    
                    <p >Monsieur <span class="vainqueur">Hamed soumahoro</span> au terme des déliberations, vous êtes donc classé
                        <span class="vainqueur">1ere</span>. Vous serez contacté </p>  <p> par les administrateurs de eeyaa pour recevoir votre gain</p>


                    <p  class="mt-5">Merci d'avoir participé, rendez-vous au prochain challenge</p>
                      
                </div>
         </div>
      </div>
    </div>
   
  </ng-template>