.Presentation{
    height: 100%;
    background: linear-gradient(0.25turn, rgb(251, 252, 252) 35% ,rgba(250, 255, 250, 0.1)),url('/assets/images/2429.jpg');
    
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.content{
  
  position: absolute;
  top: 25%;
  left:10%;
}

.content .title{
  color: #226575;
  font-size: 45px;
  font-weight: 300;
  font-weight: bold;
  border-left: 11px solid #226575;
  padding: 10px;
  
}
.content .text{
  
  width: 700px;
  margin-top: 50px;
  margin-left: 27px;
  word-wrap: overflow-wrap ;
  
}