<div  class="menuImg">
    <img (click)="openMENU()" [src]=" home" alt="" srcset="">
</div>

  <div [ngClass]="{'sideBarshow' : sideBarOpen === true, 'sideBarhide' : sideBarOpen === false}" id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" (click)="closeMENU()"  >&times;</a>
      <div class="menutittle">
        Menu
      </div>
    <div class="menuItems ">
      <div class="menuItem">
        <img [src]="menu1" alt="" srcset="">
        <p class="mt-5">Profil</p>
      </div>
      
  </div>
</div>