<div class="content">
  <div routerLink="/pageDacc" class="iconBoder">
      <div class="logo">
          <img  [src]=" logo" alt="" srcset="">
      </div>
   </div>
   <div class="application">
    <p class="title">Connexion  </p>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Large modal</button>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      ...
    </div>
  </div>
</div>
    <div class="Description">veuillez s'il vous plait renseigner les champs de connexions</div>
  </div>
   <div class="container  justify-content-center" >
    <div class="row">
        <div class="col">
            <div class="buttonConnexionBorder" routerLink="/pageDacc">
                <div class="logo">
                    <b>Inscription</b>
                </div>
            </div>
        </div>
        <div class="col-10">
          <form>
            <div class="form-row">
              <div class="col">
                <input type="email" class="form-control" placeholder="email">
                <div class="textLeft">
                  <input class="form-check-input" type="checkbox" id="gridCheck">
                  <label class="form-check-label " for="gridCheck">
                    je suis un creatif
                  </label>
                </div>
                
              </div>
              <div class="col">
                <input type="password" class="form-control" placeholder="password">
                <div class="textRight">
                  <label class="form-check-label" for="gridCheck">
                    mot de passe oubié ?
                  </label>
                </div>
                
              </div>
            </div>
          </form>
        </div>
        <div class="col" >
            <div class="buttonConnexionBorder" routerLink="pageDacc">
                <div class="logo">
                     <b>connexion</b>
                    
                </div>
            </div>
            
        </div>
    </div>
</div>
    
<button type="button" class="btn btn-default btn-lg next">
  <i class="fas fa-arrow-right"></i>
</button>   
</div>