/*START MODAL2*/
.modal2{
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1000;
}
.modal2 .div1{
    display: flex;
    flex-direction: column;  
   justify-content: space-around;
   
}
.modal2 .div1 .divItems, .modal2 .div3 .divItems{
    height: 60px;
    box-shadow: 1px 1px 12px #5551;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.modal2 .div1 .divItems .divItemsImg, .modal2 .div3 .divItems .divItemsImg{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;;
    border: 1px solid #e5e5e5;
    margin-right: 10px;
}
.modal2 .div1 .divItems .divItemsImg img, .modal2 .div3 .divItems .divItemsImg img{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
   

}

.modal2 .div2{
    height:500px;
    margin: 15px;
}


.modal2 .div2{
    text-align: center;
}
.modal2 .div2 h2{
    font-weight: 600;
}

.quickAccess{
  width: 100%;
  margin:auto 0px ;
  
}

.QuickAccesImg{
  width: 150px;
  height: 155px;
  border-radius: 5px;
 
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.QuickAccesImg img {
  height: 90px;
  width: 90px;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
}

.download img {
    height: 25px;
    width: 25px;
}

.aperçu{
    height: 80px;
    width: 90%;
    box-shadow: 1px 1px 12px #5551;
    margin: auto 0px;
}
.chooseDeriefFile{
    width: 90%;
    padding: 5px;
    height: 40px;
    display: flex;
    flex-direction: row-reverse;
    
}
.chooseDeriefFile img{
   height: 25px;
   width: 25px;
    
}
.chooseDeriefFile  button{
    background-color: #226575;
    color: white;
    border-radius: 5px;
   
}



.modal2 .div1
{
    height:400px;
    margin: 20px;
}


.modal2 .div1{
    width: 28%;
    
}


 .modal2 .div2
{
    width: 70%;  
    box-shadow: 1px 1px 12px #5551;
 
}

