<div (click)="openXl(content5)">Projet de panneau publicitaire</div>

<ng-template  #content5 let-modal>
  
    <div class="modal-body">
      <div class="modal2">
        <div class="div1">
          <div class="divItems">
            <div class="divItemsImg">
              <img [src]="attente" alt="" srcset="">
            </div>
           <b> Débrief1</b>
          </div>
          <div class="divItems">
            <div class="divItemsImg">
              
            </div>
            <b>Débrief2</b>
          </div>
          <div class="divItems">
            <div class="divItemsImg">
              
            </div>
          <b>Débrief3</b>
          </div>
          <div class="divItems">
            <div class="divItemsImg">
              
            </div>
          <b>Résultat final</b>
          </div>
        </div>
        <div class="div2">
          <h2 class="mt-3">Challenge</h2>
          <p class="challengeDescription m-2">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
             laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat 
         </p>
         <div class="challengeFie">
            <div class="quickAccess mt-2 mb-2">
                <div class="row d-flex justify-content-center ml-2">
                        <div  class="col AccessBox" >
                            <div class="d-flex flex-column QuickAccesImg border border-light ">
                            <img class=""  [src]="video " alt="" srcset="">
                            <div class="download">
                                <img class=" mt-2 quickAccessName" [src]="download" alt="" srcset="">
                            </div>
                        </div>
                         </div>
                         <div  class="col AccessBox" >
                            <div class="d-flex flex-column QuickAccesImg border border-light ">
                            <img class=""  [src]="picture " alt="" srcset="">
                            <div class="download">
                                <img class=" mt-2 quickAccessName" [src]="download" alt="" srcset="">
                            </div>
                            </div>
                          </div>
                          <div  class="col AccessBox" >
                            <div class="d-flex flex-column QuickAccesImg border border-light ">
                            <img class=""  [src]="pdf " alt="" srcset="">
                            <div class="download">
                                <img class=" mt-2 quickAccessName" [src]="download" alt="" srcset="">
                            </div>
                            </div>
                          </div>
                          <div  class="col AccessBox" >
                            <div class="d-flex flex-column QuickAccesImg border border-light ">
                            <img class=""  [src]="pdf " alt="" srcset="">
                            <div class="download">
                                <img class=" mt-2 quickAccessName" [src]="download" alt="" srcset="">
                            </div>
                            </div>
                          </div>
                    </div> 
                    <div class="aperçu mt-3 ml-5 ">

                    </div>
                    <div class="  border border-light ml-5 d-flex flex-row input-group chooseDeriefFile mt-3">
                        <img [src]="paperclip" alt="" srcset=""><button>Déposer</button>
                    </div>
          </div>
         </div>
        </div>
        
      </div>
    </div>
   
  </ng-template>