<div class="content">
    <div class="icon_bor">
        <div class="logo">
            <img  [src]=" logo" alt="" srcset="">
        </div>
     </div>
     <div class="application">
      <p class="title">Inscription</p>
      <div class="Description">veuillez créatif veuillez sil vous plait renseigner les champs d'Inscription <br/> 
         NB:Les champs  obligatoires sont indiqué avec un asterix (*)</div>
    </div>
     <div class="container  justify-content-center" >
      <div class="row">
          <div class="col">
              <div class="icon_bor" routerLink="pageDacc" >
                  <div class="logo">
                      <b>{{this.talentInscriptionStep1}}/2</b>
                  </div>
              </div>
          </div>
          <div class="col-10">
            <form >
              
              <div class="form-row mt-2 mb-5">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Nom complet*">
                </div>
                <div class="col">
                  <input type="email" class="form-control" placeholder="Email*">
                </div>
                <div class="col">
                  <input type="password" class="form-control" placeholder="Mot de passe">
                </div>
                <div class="col">
                  <input type="password" class="form-control" placeholder="Confirmation de mot de passe">
                </div>
              </div>
              
            </form>
          </div>
          <div class="col" >
              <div class="icon_bor">
                  <div class="logo">
                      <a > <b>connexions</b></a>
                      
                  </div>
              </div>
              
          </div>
      </div>
  </div>
      
  <button  type="button" class="btn btn-default btn-lg next" (click)=clickMe()>
    <i class="fas fa-arrow-down"></i>
  </button>   
  </div>