<div class="content">
    <div routerLink="/pageDacc" class="iconBorder">
        <div class="logo">
            <img  [src]=" logo" alt="" srcset="">
        </div>
     </div>
     <div class="application">
      <p class="title">Inscription</p>
      <div class="Description">Chèr talent veuillez s'il vous plait renseigner les champs d'Inscription <br/> 
         NB:Les champs  obligatoires sont indiqué avec un asterix (*)</div>
    </div>
     <div class="container  justify-content-center" >
      <div class="row">
          <div class="col">
              <div class="buttonTalentInscriptionBoder" routerLink="pageDacc" >
                  <div class="logo">
                      <b>{{this.talentInscriptionStep1}}/2</b>
                  </div>
              </div>
          </div>
          <div class="col-10">
            <form class="form1" style="display:block;"
            *ngIf="talentInscriptionStep1 ==='1'"
            >
              
              <div class="form-row mt-2 mb-5">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Nom complet*">
                </div>
                <div class="col">
                  <input type="email" class="form-control" placeholder="Email*">
                </div>
                <div class="col">
                  <input type="password" class="form-control" placeholder="Mot de passe">
                </div>
                <div class="col">
                  <input type="password" class="form-control" placeholder="Confirmation de mot de passe">
                </div>
              </div>
              
            </form>
            <form  class="form2" style="display:block;"
             *ngIf="talentInscriptionStep1 ==='2'"
             [ngClass]="{'animate__animated animate__fadeInDown' : talentInscriptionStep1 ==='2'}">
              
              <div class="form-row mt-2 mb-5">
                <div class="col">
                  <input type="text" class="form-control" placeholder="Pseudo*">
                </div>
                <div class="col">
                  <input type="email" class="form-control" placeholder="Date de naissance*">
                </div>
                <div class="col">
                  <input type="password" class="form-control" placeholder="Nationnalit*">
                </div>
                <div class="col">
                  <input type="password" class="form-control" placeholder="Contact*">
                </div>
              </div>
              
            </form>
          </div>
          <div class="col" >
              <div  class="buttonTalentInscriptionBoder" routerLink="pageDacc">
                  <div class="logo">
                       <b>connexions</b> 
                   </div>
              </div>
           </div>
      </div>
  </div>
      
  <button  type="button" class="btn btn-default btn-lg next" (click)=clickMe()>
    <i  *ngIf="flecheDirection == false" class="fas fa-arrow-down"></i>
    <i *ngIf="flecheDirection == true" class="fas fa-arrow-right"></i>
  </button>   
  </div>